.cover {
    position: relative;
    display: inline-block;
    text-align: center;
}

.coverImage {
    width: 100%;
}

.content {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: red;
    width: 100%;
    bottom: 500px;
    left: 50%;
    z-index: 20;
    font-family: 'Times New Roman', Times, serif;
}

.content h1 {
    font-size: 40px;
}

.content p {
    font-size: 30px;
}